:root {
    --white: #EEEEE0;
    --reds:  #D28575;
    --red:   #DF9988;
    --redh:  #F69A9A;
    --blued: #5A5368;
    --blues: #7D7398;
    --blue:  #8888AD;
    --blueh: #AAAACC;
    --bgs:   #111111;
    --bg:    #1A1A2A;

    --orange:   #FEAA22;
}

html {
    font-size: 16px;
}

body {
    font-size: 16px;
    max-width: 1100px;
    margin: 0 auto 0 auto;
    background: var(--bg);
}

.super {
    vertical-align: super;
    font-size: 0.6em;
}

.prev_next_links {
    padding: 0 0.2in 0.1in 0.2in;
    display: flex;
}

.next_link {
    margin-left: auto;
}

.prev_next_links a {
    padding-top: 0.1in;
    padding-bottom: 0.1in;
}

.article {
    color: var(--white);
    background-color: var(--bgs);
    margin: 0 0 0.15in 0;
    padding: 0;
}

.article img {
    display: block;
    margin: 0.2in auto 0.2in auto;
    max-width: 90%;
    max-height: 80vh;
}

.article video {
    display: block;
    margin: 0.2in auto 0.2in auto;
    width: 90%;
}

#medimg {
    display: block;
    margin: 0.2in auto 0.2in auto;
    width: 50%;
}

#smallimg {
    display: block;
    margin: 0.2in auto 0.2in auto;
    width: 33%;
}

#small {
    font-size: 0.85em;
}

.vspacing {
    line-height: 1.2em;
}

.blues {
    color: var(--blues);
}

.row {
    padding: 0.1in 7.5% 0.1in 7.5%;
    display: flex;
}

.article p {
    margin: 0 0;
    padding: 0.3em 7.5%;
    text-indent: 1em;
    color: var(--white);
    font-size: 1.3em;
    text-align: left;
}

p.centered {
    text-align: center;
}

.article .noindent {
    text-indent: 0;
}

.article ul {
    margin: 0 0;
    padding: 0 7.5% 0in 15%;
    text-indent: 1em;
    color: var(--white);
    font-size: 1.2em;
    text-align: left;
}

.imglinks {
    display: flex;
    margin: 0 0.5in;
    padding: 0 0.3in 0 0.3in;
    list-style-type: none;
    flex-wrap: wrap;
    overflow: auto;
}
.imglinks a {
    font-weight: 400;
    flex: 1;
    padding: 0 0;
    padding: 0 0.15in;
    float: center;
    color: var(--blueh)
}
.imglinks img {
    width: 1in;
}

.article li {
    padding: 0.03in 0;
    text-indent: 0;
}

.article h1 {
    padding: 0.3in 0 0 0;
    margin: 0;
    text-align: center;
    font-size: 3em;
    color: var(--red);
}

.article h2 {
    text-align: center;
    font-size: 2.5em;
    color: var(--red);
    margin: 10px 0 10px 0;
}

.article h3 {
    text-align: center;
    font-size: 2.1em;
    color: var(--red);
    margin: 0 0 10px 0;
}

.article h4 {
    text-align: left;
    font-size: 1.8em;
    color: var(--reds);
    margin: 10px 0 0 0;
    padding: 0.1in 10% 0in 8%;
}

.article h5 {
    text-align: left;
    font-size: 1.5em;
    color: var(--blueh);
    margin: 0 0 0 0;
    padding: 0.1in 10% 0in 8%;
}

.article hr {
    border: 1px solid var(--blued);
}

.links {
    padding: 0.2in 0.3in 0.2in 0.3in;
    margin: 0 0.5in;
}

.tags {
    text-align: center;
    padding: 0;
    margin: 0 0 0.5em 0;
    color: var(--blues)
}
.tags a {
    padding: 0 5px;
}

.atags {
    text-align: right;
    padding: 0;
    margin: 0;
    color: var(--blues)
}
.atags a {
    padding: 0 5px;
}

a {
    color: var(--blue);
    text-decoration: none;
}
a:hover {
    color: var(--blueh);
    text-decoration: none;
}
.links a {
    font-size: 1.2em;
    font-weight: 400;
    padding: 0 0.15in;
    float: center;
}

h3 a {
    color: var(--red);
}
h3 a:hover {
    color: var(--redh);
}

.tooltip {
    color: var(--red);
    font-weight: bold;
    position: relative;
    margin: 0in 0.0in 0.7in 0.0in;
    text-align: center;
}

.tooltip .tooltiptext {
    font-weight: normal;
    width: 130px;
    background-color: #050505;
    color: var(--white);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -65px;
}

.date {
    padding: 20px 15px 0 0;
    margin: 0;
    color: var(--blues);
    text-align: right;
}

code {
    padding: 10px;
    margin: 5px;
    display: block;
    font-family: monospace;
    color: var(--blue);
    background: var(--bg);
    text-indent: 0;
    font-size: 0.9em;
}

em {
    font-weight: bold;
    font-size: 1.0em;
    font-style: normal;
}

em.orange {
    color: var(--orange);
}



.plist {
    margin: 0 0;
    padding: 0.3em 7.5%;
    line-height: 1.3;
}

.plist img {
    float: left;
    max-height: 2.6em;
    max-width: 2.6em;
    margin: 0 0.5em 0 0;
}

.rightpad {
    padding-right: 0.5em;
}


.hidden {
    visibility: hidden;
    display: none;
    width: 0;
    height: 0;
}
