<div class="article">
    <br>
    <h2>
       Blog index page 
    </h2>
    <p>
    Welcome to my blog! Currently I have a goal of writing
    a blog-post each week. There are 3 main categories 
    of blog-posts, tagged accordingly: 
</p>
<ul>
    <li>
        <a href="/blog/tech.html">
            #tech</a> (technical, programming etc.)
    </li>
    <li>
        <a href="/blog/art.html">
            #art</a> (visual art, music)
    </li>
    <li>
        <a href="/blog/personal.html">
            #personal</a>
    </li>
</ul>
<p class="noindent">
    Or you can read all existing posts on this
    <em>
        <a href="/blog/all.html">
            rolling page</a>.
    </em>
    </p>

    <p class="noindent">
        Rolling pages for tags: 
        <!-- TAGS -->
    </p>

    <h4>
       List of posts
    </h4>
    <p class="noindent">
        <!-- POSTS -->
    </p>
    <br>
</div>
