<div class="article">
    <p class="centered">
        <!-- See tagged posts:   <br> -->
        <!-- TAGS -->
    </p>
</div>

<div class="article">
    <br>
    <h2>
       Blog index
    </h2>
    <p class="noindent">
        Click on a tag to see a feed of tagged posts 
        (<a href="/blog/all.html">#all</a> for all posts).
        You can get a link to the tag RSS feed at the top of a tag page.
    </p>


    <h4>
       List of posts
    </h4>
    <p class="noindent plist">
        <!-- POSTS -->
    </p>
    <br>
</div>
