
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noarchive">  <!-- AI block -->
        <!-- META -->
        <link fetchpriority="high" rel="stylesheet" href="/css/style.css">
        <link fetchpriority="high" rel="stylesheet" href="/css/colors.css">  <!-- generated -->
        <link rel="icon" href="/resources/favicon.png">
        <!-- TITLE -->
    </head>
    <body>
        <nav>
            <form>
                <!-- HEADER -->
            </form>
        </nav>

        <!-- CONTENT -->
        <script defer src="/resources/js/audio_replace.js"></script>
        <script defer src="/resources/js/any_extra_script.js"></script>
    </body>
</html>
