
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/art.css">
        <link rel="stylesheet" href="/css/style2.css">
        <link rel="stylesheet" href="/css/style_mobile.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/colors.css">
        <!-- TITLE -->
    </head>
    <body>
        <nav>
            <form>
                <!-- HEADER -->
            </form>
        </nav>

        <!-- CONTENT -->
    </body>
</html>
